.concert-card {
  border:solid;
  border-color: purple;
  flex: auto;
  background: black; opacity: 0.8;
  width: 40%;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

h1, h4, h5 {
  color :white
}

/*concert list */

li {
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 15px;
  background: #f6f6f6;
}
