input {

width: 200px;
height: 20px;
border: 1px solid purple;
			font-size: 14px;
			padding: 10px 0;

}


textarea {
  width: 200px;
  height: 50px;
  border: 1px solid purple;
  font-size: 14px;
  padding: 10px 0;
}
